body{
    background-color: black;
    background-image: url(https://cdn11.bigcommerce.com/s-1vu4fom/images/stencil/1280x1280/products/3281/8173/Durarara_4__03858.1562366067.jpg?c=2&imbypass=on);
}
p{
    color: turquoise
}
h1{
    color: turquoise
}
li{
color: turquoise
}
h2{
    color: turquoise
}
p{
    text-size-adjust: "300"
}